.pagination {
  display: flex;
  gap: .5rem;

  &__controls {
    display: flex;
    align-items: center;
  }

  &__pages {
    display: flex;
  }

  &__button {
    flex-shrink: 0;
    padding: 5px, 10px, 5px, 10px;
    border-radius: 10px, 10px, 10px, 10px;
    background: white;
    color: #576476;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background: darken(white, 5%);
    }

    &:first-of-type {
      border-radius: 10px, 0px, 0px, 10px;
    }

    &:last-of-type {
      border-radius: 0px, 10px, 10px, 0px;
    }
  }

  &__page-button {
    padding: 5px, 10px, 5px, 10px;
    background-color: white;
    color: #576476;

    &--active {
      background-color: #576476;
      color: #e8ebf2;
    }
  }

  &__per-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #576476;

  }

  &__select {
    padding: 5px, 0px, 5px, 0px;
    border-radius: 5px, 5px, 5px, 5px;
    background: #f8f8f8;
    color: #576476;
    cursor: pointer;
  }

  label[htmlFor="items_per_page"] {
    display: none;
  }
}