@let user = user$ | async;
@let isNewUser = isNewUser$ | async;
<div class="edit-page">
    <div class="edit-wrapper">
        <div class="wizard">
            <a (click)="goToUser()">
                Back to Users
            </a>
            <a>
                {{ isNewUser ? 'Create new User' : (user?.first_name + ' ' +
                user?.last_name) }}
            </a>
        </div>
        <div class="row">
            <div class="row__icons">
                <app-avatar [avatar]="isNewUser ? null : user?.avatar"></app-avatar>
                @if(user && !isNewUser){
                <span (click)="deleteUser(user.id)"><app-delete-icon /> delete</span>
                }
            </div>
            <app-user-form [user]="isNewUser ? null : user" (submitForm)="saveUser($event )" />
        </div>
    </div>
</div>